
@media only screen and (max-width: 1320px) {
  .li-nombre {
    padding: 9px 9px 9px 9px;
    font-size: 16px;
  
}
.li-fecha {
   
    padding: 9px 9px 9px 9px;
    font-size: 16px;
   
}
.li-hora {
    padding: 9px 9px 9px 9px;
    font-size: 16px;
   
}
.li-codigo {
    
    padding: 9px 9px 9px 9px;
    
    font-size: 16px;
   
}
.li-saldo {
    
    padding: 11px 56px 7px 9px;
    line-height: 30px;
    font-size: 16px;
}

}
@media only screen and (max-width: 1270px) {
  .li-nombre {
    padding: 9px 9px 9px 9px;
    font-size: 14px;
  
}
.li-fecha {
   
    padding: 9px 9px 9px 9px;
    font-size: 14px;
   
}
.li-hora {
    padding: 9px 9px 9px 9px;
    font-size: 14px;
   
}
.li-codigo {
    
    padding: 9px 9px 9px 9px;
    
    font-size: 14px;
   
}
.li-saldo {
    
    padding: 11px 56px 7px 9px;
    line-height: 30px;
    font-size: 14px;
}

}
@media only screen and (max-width: 1020px) {
  .li-nombre {
    padding: 9px 9px 9px 9px;
    font-size: 14px;
  
}
.li-fecha {
   
    padding: 9px 9px 9px 9px;
    font-size: 14px;
   
}
.li-hora {
    padding: 9px 9px 9px 9px;
    font-size: 14px;
   
}
.li-codigo {
    
   padding: 9px 9px 9px 9px;
    
    font-size: 14px;
   
}
.li-saldo {
    
    padding: 11px 42px 7px 9px;
    line-height: 30px;
    font-size: 14px;
}

}
@media only screen and (max-width: 980px) {
  .li-nombre {
    padding: 9px 9px 9px 9px;
    font-size: 12px;
  
}
.li-fecha {
   
    padding: 9px 9px 9px 9px;
    font-size: 12px;
   
}
.li-hora {
    padding: 9px 9px 9px 9px;
    font-size: 12px;
   
}
.li-codigo {
    
   padding: 9px 9px 9px 9px;
    
    font-size: 12px;
   
}
.li-saldo {
    
    padding: 11px 38px 7px 9px;
    line-height: 30px;
    font-size: 12px;
}

}
@media only screen and (max-width: 865px) {
  .li-nombre {
    padding: 9px 2px 9px 9px;
    font-size: 11px;
  
}
.li-fecha {
   
    padding: 9px 2px 9px 2px;
    font-size: 11px;
   
}
.li-hora {
    padding: 9px 2px 9px 2px;
    font-size: 11px;
   
}
.li-codigo {
    
   padding: 9px 9px 9px 2px;
    
    font-size: 11px;
   
}
.li-saldo {
    
    padding: 11px 26px 7px 9px;
    line-height: 30px;
    font-size: 11px;
}

}
@media only screen and (max-width: 740px) {


.navbar .login-panel .btn {
    margin: -2px;
    border-radius: 0;
    font-size: 14px;
    /*padding: 0px 43px 0px 20px;*/
    line-height: 59px;
    color: #fff;

}
.btn-codigo{
  background-color: #276095;
  border-color: #20578a;


}
.icon{
  font-size: 20px;
  padding: 0 10px;
  position: relative;
  z-index: 2
  
  
}
.btn-refres{
  background-color: #2497D4;
  border-color: #208cc6;


}
.btn-salir{
  background-color: #00c0ff;
  border-color: #2acafe;


}

}
